
<!-- ↓ユーザー情報 -->
<h2>User info</h2>
  <%#= image_tag @user.get_profile_image(100,100) %>
  <h4>name</h4>
  <h4><%#= @user.name %></h4><br>
  <h4>introduction</h4>
  <h4><%#= @user.introduction %></h4>

  <p><%#= link_to "後でアイコン挿入する箇所", edit_user_path(@user) %></p>



<!-- ↓新規投稿 -->
<h2>New book</h2>

<%= form_with model: @book do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>

<!-- ↓一覧 -->
<h2>Users</h2>

  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
    <% @users.each do |users| %>
      <tr>
        <td><%= users.name %></td>
        <%#= link_to "Show", user_path(book.id) %>
      </tr>
    <% end %>
    </tbody>
  </table>
