<div class = "display: flex; jutify-content: center; mt-3">
  <div class = "mx-auto" style ="width: fit-content;">

<!-- ↓エラーメッセージ -->
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class = "d-flex flex-column">
  <div>
    <h1>Editing Book</h1>
  </div>

  <div>
    <%= form_with model: @book do |f|%>
      <label>Title</label><br>
      <%= f.text_field :title , class: "form-control w-100"%><br>
      <label>Opinion</label><br>
      <%= f.text_field :body , class: "form-control w-100"%><br>

      <%= f.submit "Update Book" , class: "btn btn-success" %>
    <% end %>
  </div>

  <div>
  <%= link_to "Show", book_path %> | 
  <%= link_to "Back", books_path %>
  </div>
</div>


  </div>
  </div>